body {
        background-color: #f5f5f5;
        font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
        min-width: 1240px;
        overflow: auto
    }

    .mod-header {
        background-color: #fff;
        border-bottom: 1px solid #363636
    }

    .mod-header a {
        color: #bfbfbf;
        font-size: 12px
    }

    .mod-header a:hover {
        color: #23ac38;
        text-decoration: none
    }

    .topbox {
        background: #363636
    }

    .top-container {
        margin: 0 auto;
        width: 1240px
    }

    .top-container:after {
        clear: both;
        content: "";
        display: block
    }

    .topbox .topbox-item a {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        margin: 0 10px;
        vertical-align: middle
    }

    .topbox .leftitem {
        float: left
    }

    .topbox .rightitem {
        float: right
    }

    .topbox .telshop {
        padding-left: 26px;
        position: relative
    }

    .topbox .telshop i {
        -wekit-animation: rotateme .3s infinite;
        -ms-animation: rotateme .3s infinite;
        -o-animation: rotateme .3s infinite;
        -moz-animation: rotateme .3s infinite;
        animation: rotateme .3s infinite;
        background: url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) no-repeat -2px -268px;
        height: 15px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 22px
    }

    @-o-keyframes rotateme {
        0% {
            -o-transform: rotate(-10deg)
        }

        20% {
            -o-transform: rotate(0deg)
        }

        50% {
            -o-transform: rotate(10deg)
        }

        70% {
            -o-transform: rotate(0deg)
        }

        100% {
            -o-transform: rotate(-10deg)
        }
    }

    @-moz-keyframes rotateme {
        0% {
            -moz-transform: rotate(-10deg)
        }

        20% {
            -moz-transform: rotate(0deg)
        }

        50% {
            -moz-transform: rotate(10deg)
        }

        70% {
            -moz-transform: rotate(0deg)
        }

        100% {
            -moz-transform: rotate(-10deg)
        }
    }

    @-ms-keyframes rotateme {
        0% {
            -ms-transform: rotate(-10deg)
        }

        20% {
            -ms-transform: rotate(0deg)
        }

        50% {
            -ms-transform: rotate(10deg)
        }

        70% {
            -ms-transform: rotate(0deg)
        }

        100% {
            -ms-transform: rotate(-10deg)
        }
    }

    @-webkit-keyframes rotateme {
        0% {
            -webkit-transform: rotate(-10deg)
        }

        20% {
            -webkit-transform: rotate(0deg)
        }

        50% {
            -webkit-transform: rotate(10deg)
        }

        70% {
            -webkit-transform: rotate(0deg)
        }

        100% {
            -webkit-transform: rotate(-10deg)
        }
    }

    @keyframes rotateme {
        0% {
            transform: rotate(-10deg)
        }

        20% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(10deg)
        }

        70% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(-10deg)
        }
    }

    .navloginbox {
        position: relative
    }

    .loginbefore {
        margin: 0 10px
    }

    .popbox {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,.1);
        display: none;
        padding-bottom: 10px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 111
    }

    .header-logo {
        float: left;
        font-size: 0;
        height: 118px;
        line-height: 118px;
        overflow: hidden;
        vertical-align: middle
    }

    .header-tools {
        float: right;
        padding-top: 30px;
        width: 740px
    }

    .suggest-box {
        float: left;
        height: 46px;
        margin-left: 12px;
        position: relative;
        vertical-align: top
    }

    .search-tags {
        position: absolute;
        right: 72px;
        top: 10px
    }

    .__mall_suggest__ {
        background: #fff;
        border: 1px solid #23ac38;
        display: none
    }

    .topshopcart {
        float: right;
        padding: 0;
        position: relative
    }

    .header-logo a {
        display: inline-block;
        max-height: 118px
    }

    .header-logo img {
        vertical-align: middle
    }

    .suggest-box input {
        outline: 0;
        vertical-align: top
    }

    .search-tags a {
        background-color: #f5f5f5;
        border-radius: 11px;
        color: #848484;
        display: inline-block;
        font-size: 12px;
        line-height: 22px;
        margin-right: 10px;
        padding: 0 11px
    }

    .__mall_suggest__ li {
        cursor: pointer;
        font-size: 12px;
        height: 34px;
        line-height: 34px;
        overflow: hidden;
        padding: 0 14px
    }

    span.emptyhint {
        color: #999;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding-left: 14px;
        position: absolute;
        top: 0
    }

    .__mall_suggest__ li em {
        color: #2daa3f;
        font-style: normal
    }

    .loginafter .top-uname {
        color: #bfbfbf;
        cursor: pointer;
        display: block;
        font-size: 12px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        width: 120px
    }

    .popbox .top-uname {
        color: #23ac38
    }

    .suggest-box .suggest {
        border: 1px solid #23ac38;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;
        width: 434px
    }

    .suggest-box .search-btn {
        background: #36aa3f url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) no-repeat 24px -110px;
        border: 0;
        cursor: pointer;
        height: 42px;
        width: 72px
    }

    .__mall_suggest__ .hover {
        background: #eee
    }

    .topshopcart .header-cart {
        background: #f9f9f9;
        border: 1px solid #ddd;
        color: #363636;
        display: inline-block;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 156px
    }

    .popbox .topuserbox li {
        display: block;
        text-align: center
    }

    .popbox .topuserbox a {
        color: #31373c;
        display: block
    }

    .header-logo .sellogo img {
        height: 40px;
        overflow: hidden;
        width: 150px
    }

    .__mall_suggest__ li .sug-item {
        float: left;
        overflow: hidden;
        width: 60%
    }

    .__mall_suggest__ li .desc {
        color: #999;
        float: right;
        overflow: hidden;
        text-align: right;
        width: 40%
    }

    .topbox .hassx:before {
        content: "|";
        margin-top: -1px;
        margin-left: -2px;
        padding-right: 8px
    }

    .loginafter .top-uname:after {
        background: url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) no-repeat -3px -223px;
        content: "";
        display: inline-block;
        height: 6px;
        margin-left: 5px;
        width: 10px
    }

    .popbox .top-uname:after {
        background: url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) no-repeat -3px -243px
    }

    .suggest-box .search-btn:hover {
        background-color: #34c13f
    }

    .topshopcart .header-cart .icon {
        background: url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) 0 0 no-repeat;
        display: inline-block;
        height: 15px;
        margin: 0 6px -3px 7px;
        width: 20px
    }

    .carthas .header-cart .icon {
        background-position: 0 -30px
    }

    .topshopcart .header-cart .cart-size {
        color: #bfbfbf;
        display: inline-block;
        font-size: 12px;
        height: 19px;
        line-height: 19px;
        text-align: center;
        width: 19px
    }

    .popbox .topuserbox li:hover {
        background: #f7f7f7
    }

    .popbox .topuserbox li:hover a {
        color: #23ac38
    }

    .topshopcart .cart-hover .cart-size,.topshopcart .cart-hover {
        background: #fff;
        border-bottom: 1px solid #fff;
        color: #3fb661;
        z-index: 102
    }

    .topshopcart .cart-hover .cart-size,.navbox,.topshopcart .cart-hover {
        position: relative
    }

    .navbar,.navbar .top-item {
        float: left
    }

    .navbar-qbar {
        color: #888;
        float: right;
        font-size: 12px;
        line-height: 37px
    }

    .sublistbox {
        background: rgba(255,255,255,.96)!important;
        background: #fff;
        border-top: 1px solid #ddd;
        box-shadow: 0 4px 4px rgba(0,0,0,.2);
        display: none;
        height: 0;
        left: 0;
        line-height: normal;
        position: absolute;
        top: 37px;
        width: 100%;
        z-index: 111
    }

    .sub-nav-list {
        margin: 30px auto 25px;
        width: 1240px
    }

    .mod-topbar {
        background-position: top center;
        display: block;
        text-indent: -99999px
    }

    .firstnav {
        float: left
    }

    .mod-index {
        position: relative
    }

    .side-category {
        color: #fff;
        left: 50%;
        margin-left: -620px
    }

    .side-category,.left-sub-list {
        position: absolute;
        top: 0;
        z-index: 100
    }

    .left-sub-list {
        background: #fff;
        left: 210px;
        overflow: hidden;
        padding: 24px 0;
        width: 1030px
    }

    .second-level-box {
        float: left;
        margin-left: 20px;
        min-height: 352px;
        padding-bottom: 48px;
        position: relative;
        width: 700px
    }

    .second-level {
        margin-bottom: 13px;
        overflow: hidden
    }

    .brand-logo {
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        bottom: 0;
        display: inline-block;
        left: 20px;
        max-width: 660px;
        overflow: hidden;
        position: absolute
    }

    .navbar-qbar span {
        color: #ed3714
    }

    .sub-nav-list li {
        float: left;
        overflow: hidden;
        padding: 0 40px;
        position: relative;
        width: 120px
    }

    .second-level dt {
        float: left;
        line-height: 16px;
        margin-top: 2px;
        text-align: right;
        width: 100px
    }

    .second-level dd {
        border-bottom: 1px dashed #e0e0e0;
        display: block;
        line-height: 16px;
        margin-left: 130px;
        padding-bottom: 13px
    }

    .sub-nav-list li img {
        height: 120px;
        width: 120px
    }

    .sub-nav-list li span,.sub-nav-list li i {
        color: #232426;
        display: block;
        font-size: 12px;
        font-style: normal;
        height: 18px;
        line-height: 18px;
        margin-top: 12px;
        overflow: hidden;
        text-align: center;
        width: 120px
    }

    .sub-nav-list li i {
        color: #ee4a25;
        margin-top: 2px
    }

    .second-level dt a {
        color: #31373c;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        overflow: hidden;
        text-align: justify;
        text-align-last: justify;
        -moz-text-align-last: justify;
        -webkit-text-align-last: justify;
        text-justify: distribute-all-lines;
        width: 80px
    }

    .second-level dt i {
        color: #31373c;
        display: inline-block;
        font: 400 9px/14px consolas;
        height: 14px;
        margin-left: 10px;
        position: absolute;
        width: 4px
    }

    .second-level dd a {
        color: #31373c;
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        margin-right: 15px
    }

    .brand-logo ul li {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        float: left
    }

    .sub-nav-list ul li span,.sub-nav-list ul li i {
        font-size: 12px;
        font-style: normal;
        height: 16px;
        line-height: 16px;
        margin-top: 4px
    }

    .sub-nav-list ul li span {
        margin-top: 20px
    }

    .brand-logo ul li img {
        display: block;
        height: 47px;
        overflow: hidden;
        width: 131px
    }

    .topshopcart .header-cart-popup {
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 4px 4px rgba(0,0,0,.2);
        display: none;
        font-size: 12px;
        margin-top: -1px;
        position: absolute;
        right: 0;
        top: 42px;
        width: 380px;
        z-index: 101
    }

    .topshopcart .cart-list {
        display: block;
        padding: 6px 12px
    }

    .topshopcart .cart-item {
        border-top: 1px solid #ddd;
        display: block;
        height: 72px;
        line-height: 72px;
        padding: 6px 0
    }

    .topshopcart .cart-count {
        background: #f6f6f6;
        color: #31373c;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding: 10px 15px 10px 20px
    }

    .topshopcart .cart-buy {
        background: #36aa3f;
        border-radius: 2px;
        color: #fff;
        float: right;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 120px
    }

    .topshopcart .cart-tips {
        color: #666;
        display: none;
        padding: 40px 0;
        text-align: center
    }

    .topshopcart .header-rush {
        background: #fff;
        border: solid 1px #e5e5e5;
        float: left;
        font-size: 14px;
        height: 37px;
        line-height: 37px;
        margin: 20px 20px 0 0;
        text-align: center;
        width: 117px
    }

    .navbar .top-item {
        line-height: 37px;
        padding: 0 12px;
        text-align: left
    }

    .navbar .topfirst {
        background-color: #363636;
        margin-right: 26px;
        padding: 0
    }

    .navbar .topfirst,.side-category .categorylist {
        width: 210px
    }

    .side-category .sub-item {
        background: rgba(255,255,255,.85);
        font-size: 0;
        height: 56px;
        line-height: 56px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55ffffff',endColorstr='#55ffffff')
    }

    .left-sub-list .uname {
        cursor: default
    }

    .left-sub-list .single-item {
        float: left;
        margin-left: 10px
    }

    .topshopcart .cart-count b {
        color: #e94c30;
        font-weight: 400
    }

    .topshopcart .header-rush i {
        color: #74b72c;
        font-style: normal;
        font-size: 22px;
        font-weight: 700;
        padding: 0 10px;
        vertical-align: bottom
    }

    .navbar .top-item a {
        color: #323334;
        display: block;
        font-size: 15px;
        position: relative;
        text-decoration: none
    }

    .navbar .topfirst a {
        color: #fff;
        margin-left: 30px;
        padding-left: 36px;
        position: relative
    }

    .sub-nav-list li:after {
        background: #e1e1e1;
        content: "";
        height: 120px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px
    }

    .left-sub-list .single-item img {
        height: 400px;
        overflow: hidden;
        width: 240px
    }

    .second-level a:hover {
        color: #3faf0e
    }

    .second-level dt a:after {
        content: "";
        display: inline-block;
        width: 100%
    }

    .topshopcart .cart-item:first-child {
        border-top: none
    }

    .topshopcart .cart-item .cart-item-text {
        color: #666;
        float: left;
        line-height: 20px;
        padding-left: 15px;
        width: 140px
    }

    .topshopcart .cart-item .cart-item-num {
        color: #666;
        float: left;
        text-align: center;
        width: 30px
    }

    .topshopcart .cart-item .cart-item-price {
        color: #333;
        float: left;
        height: 100%;
        text-align: right;
        width: 75px
    }

    .topshopcart .cart-item .cart-item-del {
        background: url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) no-repeat 0 -59px;
        float: left;
        height: 16px;
        margin-top: 28px;
        width: 16px
    }

    .topshopcart .cart-buy:hover {
        background: #34c13f;
        color: #fff
    }

    .topshopcart .pop-show-tip .cart-tips {
        display: block
    }

    .topshopcart .pop-show-tip .cart-info {
        display: none
    }

    .side-category .sub-item.odd {
        background: rgba(255,255,255,.88);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58ffffff',endColorstr='#58ffffff')
    }

    .side-category .sub-item .category-a {
        color: #1b1b1b;
        display: block;
        font-size: 15px;
        margin-left: 30px;
        padding-left: 36px;
        position: relative
    }

    .side-category .sub-item:hover {
        background: #fff;
        filter: none
    }

    .topshopcart .cart-item .cart-item-img img {
        float: left;
        height: 72px;
        width: 72px
    }

    .topshopcart .cart-item .cart-item-text strong {
        display: table-cell;
        font-weight: 400;
        height: 72px;
        overflow: hidden;
        vertical-align: middle
    }

    .topshopcart .pop-show-tip .cart-tips a {
        text-decoration: underline
    }

    .topshopcart .pop-show-tip .cart-tips a,.navbar .top-item a:hover {
        color: #23ac38
    }

    .navbar .topfirst a:before {
        background: url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) no-repeat;
        background-position: 3px -300px;
        content: "";
        height: 26px;
        left: 0;
        position: absolute;
        top: 7px;
        width: 26px
    }

    .navbar .topfirst:hover a {
        color: #fff
    }

    .navbar .topnew a:before,.navbar .topfree a:before {
        background: url(https://p.ssl.qhmsg.com/t01f2d40797748448d3.png) no-repeat 0 -191px;
        content: '';
        display: inline-block;
        height: 18px;
        position: absolute;
        right: -16px;
        top: -6px;
        width: 30px
    }

    .navbar .topfree a:before {
        background-position: 0 -160px
    }

    .sub-nav-list li:first-child:after {
        content: "";
        display: none
    }

    .topshopcart .cart-item:hover .cart-item-del {
        background-position: 0 -89px
    }

    .side-category .sub-item .category-a:before {
        background: url(https://p.ssl.qhmsg.com/t01b09536cfd3dac8ba.png) no-repeat;
        background-position: -9px -17px;
        content: "";
        height: 26px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 26px
    }

    .side-category .menu1 .category-a:before {
        background-position: -9px -17px
    }

    .side-category .menu2 .category-a:before {
        background-position: -9px -73px
    }

    .side-category .menu3 .category-a:before {
        background-position: -9px -129px
    }

    .side-category .menu4 .category-a:before {
        background-position: -9px -185px
    }

    .side-category .menu5 .category-a:before {
        background-position: -9px -241px
    }

    .side-category .menu6 .category-a:before {
        background-position: -9px -297px
    }

    .side-category .menu7 .category-a:before {
        background-position: -9px -409px
    }

    .side-category .menu8 .category-a:before {
        background-position: -9px -353px
    }

    .navbar .topfirst:hover a:before {
        background-position: -23px -300px
    }

    .side-category .sub-item:hover .category-a:before {
        background-position: -69px -17px
    }

    .side-category .menu1:hover .category-a:before {
        background-position: -69px -17px
    }

    .side-category .menu2:hover .category-a:before {
        background-position: -69px -73px
    }

    .side-category .menu3:hover .category-a:before {
        background-position: -69px -129px
    }

    .side-category .menu4:hover .category-a:before {
        background-position: -69px -185px
    }

    .side-category .menu5:hover .category-a:before {
        background-position: -69px -241px
    }

    .side-category .menu6:hover .category-a:before {
        background-position: -69px -297px
    }

    .side-category .menu7:hover .category-a:before {
        background-position: -69px -409px
    }

    .side-category .menu8:hover .category-a:before {
        background-position: -69px -353px
    }

    .mod-banner .banner-slide,.mod-banner .banner-slide .slideBox,.mod-banner .banner-slide .slider-film {
        height: 448px
    }

    .part-container {
        margin: auto;
        position: relative;
        width: 1240px
    }

    .elevator_box {
        background-color: #fff;
        left: 50%;
        margin-left: -684px;
        margin-top: -240px;
        position: fixed;
        text-align: center;
        top: 50%;
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        visibility: hidden;
        width: 40px;
        z-index: 999
    }

    .part-myproducts li,.part-activitys li {
        float: left;
        margin-left: 10px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        zoom: 1
    }

    .part-activitys li {
        margin-top: 10px
    }

    .part-myproducts li,.part-activitys li {
        float: left;
        margin-left: 10px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        zoom: 1
    }

    .part-activitys li {
        margin-top: 10px
    }

    .part-myproducts li a,.part-myproducts li img {
        display: block;
        height: 320px;
        width: 240px
    }

    .part-activitys li img {
        display: block;
        height: 205px;
        width: 340px
    }

    .part-myproducts li a,.part-myproducts li img {
        display: block;
        height: 320px;
        width: 240px
    }

    .part-activitys li img {
        display: block;
        height: 205px;
        width: 340px
    }

    .mod-banner .banner-slide {
        position: relative
    }

    .part-container:after {
        clear: both;
        content: '';
        display: block
    }

    .part-myproducts .part-container {
        margin: 12px auto
    }

    .part-container:after {
        clear: both;
        content: '';
        display: block
    }

    .part-myproducts .part-container {
        margin: 12px auto
    }

    .part-activitys .ac5 {
        position: absolute;
        right: 0;
        top: 0
    }

    .part-activitys .part-title {
        color: #ef5233;
        float: left;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 240px
    }

    .part-activitys .vline {
        background-color: #000;
        border-bottom: 1px solid;
        float: left;
        margin-top: 25px;
        opacity: .1;
        width: 388px
    }

    .part-activitys .vicon {
        background: url(https://p.ssl.qhmsg.com/t01afc23de9cb80bf31.png) no-repeat center;
        float: left;
        height: 40px;
        margin-top: 5px;
        width: 112px
    }

    .part-myproducts li:first-child,.part-activitys li:first-child {
        margin-left: 0
    }

    .part-myproducts li:hover {
        -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
        box-shadow: 0 15px 30px rgba(0,0,0,0.1)
    }

    .part-myproducts li:first-child,.part-activitys li:first-child {
        margin-left: 0
    }

    .part-myproducts li:hover,.part-activitys li:hover {
        -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
        box-shadow: 0 15px 30px rgba(0,0,0,0.1)
    }

    .part-activitys .ac0 img,.part-activitys .ac5 img {
        height: 420px;
        width: 265px
    }

    .part-activitys li:hover img {
        opacity: .9
    }

    .mod-banner .banner-slide .slider-film {
        background: center no-repeat;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%
    }

    .mod-banner .banner-slide .slide-prev,.mod-banner .banner-slide .slide-next {
        background: transparent url(https://p.ssl.qhmsg.com/t01b09536cfd3dac8ba.png) no-repeat -179px -143px;
        border-radius: 2px;
        display: none;
        height: 72px;
        left: 50%;
        margin-top: -36px;
        position: absolute;
        top: 50%;
        width: 42px
    }

    .mod-banner .banner-slide .slide-prev {
        margin-left: -400px
    }

    .mod-banner .banner-slide .slide-next {
        background-position: -177px -74px;
        margin-left: 368px
    }

    .mod-banner .banner-slide .slide-point {
        border-radius: 14px;
        bottom: 15px;
        display: none;
        height: 14px;
        left: 50%;
        padding: 7px 14px;
        position: absolute;
        text-align: center
    }

    .mod-banner .banner-slide .slide-point a {
        background: rgba(0,0,0,.3)!important;
        background: #000;
        -moz-border-radius: 10px;
        border-radius: 10px;
        display: inline-block;
        height: 12px;
        margin: 1px 0 1px 15px;
        overflow: hidden;
        vertical-align: top;
        width: 12px
    }

    .mod-banner .banner-slide .slide-prev:hover,.mod-banner .banner-slide .slide-next:hover {
        background-color: rgba(0,0,0,.4);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28000000',endColorstr='#28000000')
    }

    .mod-banner .banner-slide .slide-point .curr-point {
        background: rgba(255,255,255,.9)!important;
        background: #fff;
        box-shadow: 0 0 1px #000;
        height: 12px;
        margin-top: 0;
        width: 12px
    }

    .mod-banner .banner-slide .slide-point a:first-child {
        margin-left: 0
    }

    @media screen and (max-width:1390px) {
        .elevator_box {
            margin-left: -660px
        }
    }

    .elevator_box_show {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        visibility: visible
    }

    .elevator_list,.elevator_list li {
        display: block
    }

    .elevator_list li {
        background: url(https://p.ssl.qhmsg.com/t01b09536cfd3dac8ba.png) no-repeat;
        background-position: -120px 0;
        border: 1px solid #ddd;
        cursor: pointer;
        height: 38px;
        margin-top: -1px;
        overflow: hidden
    }

    .elevator_list li a {
        display: block;
        font-size: 12px;
        line-height: 999px;
        padding: 5px 0;
        text-align: center
    }

    .elevator_list li:hover a {
        background-color: #f2f2f2;
        color: #8b8b8b;
        line-height: 14px
    }

    .elevator_list .show a,.elevator_list .show:hover a {
        background-color: #848484;
        color: #fff;
        line-height: 14px
    }

    .topad {
        overflow: hidden;
        top: 0;
        width: 200px
    }

    .topad,.navad {
        margin-right: -620px;
        position: absolute;
        right: 50%
    }

    .navad {
        bottom: 0
    }

    .navad,.navad img {
        height: 60px;
        overflow: hidden;
        width: 200px
    }

    .searchkey {
        margin-top: 9px
    }

    .popping {
        left: 50%;
        position: fixed;
        text-align: center;
        top: 1%;
        vertical-align: middle;
        z-index: 111
    }

    .shade {
        background: rgba(0,0,0,.5);
        height: 100%;
        left: 0;
        width: 100%;
        z-index: 110
    }

    .shade,.close {
        overflow: hidden;
        position: absolute;
        top: 0
    }

    .close {
        background: url(https://p.ssl.qhmsg.com/t01b8e22251239707e8.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        margin-left: 20px;
        right: -50px;
        width: 30px
    }

    .botad {
        bottom: 10px;
        text-align: center;
        z-index: 111
    }

    .botad,.bshade {
        left: 0;
        position: fixed;
        width: 100%
    }

    .bshade {
        background: rgba(0,0,0,.5);
        bottom: 0;
        height: 110px;
        z-index: 110
    }

    .closeb {
        background: url(https://p.ssl.qhmsg.com/t012f5c703098288198.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 24px;
        overflow: hidden;
        position: absolute;
        right: -8px;
        top: -8px;
        width: 24px;
        z-index: 111
    }

    .floorad {
        margin: 12px auto auto
    }

    .searchkey a {
        color: #848484;
        margin-right: 10px
    }

    .botad img {
        height: 90px;
        overflow: hidden
    }

    .botad img,.botad p {
        margin: 0 auto;
        width: 1000px
    }

    .botad p {
        position: relative
    }

    .floorad img {
        height: 120px;
        overflow: hidden;
        width: 1240px
    }

    .topad ul li {
        margin-top: 9px
    }

    .topad ul li img {
        background: #fff;
        filter: alpha(opacity=85);
        background-color: rgba(255,255,255,.7);
        height: 210px;
        overflow: hidden;
        -webkit-transition: background-color .4s;
        -ms-transition: background-color .4s;
        -o-transition: background-color .4s;
        -moz-transition: background-color .4s;
        transition: background-color .4s;
        width: 200px
    }

    .elevator_list .elevator1 {
        background-position: -120px 0
    }

    .elevator_list .elevator2 {
        background-position: -120px -39px
    }

    .elevator_list .elevator3 {
        background-position: -120px -117px
    }

    .elevator_list .elevator4 {
        background-position: -120px -78px
    }

    .elevator_list .elevator5 {
        background-position: -120px -156px
    }

    .elevator_list .elevator6 {
        background-position: -120px -195px
    }

    .elevator_list .elevator7 {
        background-position: -120px -234px
    }

    .elevator_list .elevator8 {
        background-position: -120px -312px
    }

    .elevator_list .elevator9 {
        background-position: -120px -273px
    }

    .elevator_list .elevator10 {
        background-position: -120px -351px
    }

    .elevator_list .elevator11 {
        background-position: -120px -390px
    }

    .elevator_list .elevator12 {
        background-position: -120px -429px
    }

    .header-logo .logorad {
        margin-left: 60px
    }

    .searchkey a:hover {
        color: #ed3714
    }

    .mod-header a.kred {
        color: red
    }

    .header-logo .logorad img {
        max-height: 118px
    }

    .topad ul li img:hover {
        background-color: #fff;
        filter: alpha(opacity=100)
    }